<section class="container-fluid">
  <header class="text-center">
    <h1>
      Contact
    </h1>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          Adipisci aperiam commodi consectetur ea est molestiae quidem sequi totam ut
          veritatis! Aliquid consectetur, temporibus. Dicta error fugit modi sit unde voluptate?
        </p>
      </div>
    </div>
  </header>
  <section class="row">
    <div class="col-md-6">
      <form class="form" action="">

      </form>
    </div>
    <div class="col-md-2">
      <strong>Address</strong>
      <p>22B baker street</p>
      <strong>Phone</strong>
      <p>019989t89</p>
      <strong>Fax</strong>
      <p>hello@somecompany.com</p>
    </div>
    <div class="col-md-4">
      <strong>
        Email
      </strong>
      <p>hello@somecompany.com</p>
      <strong>Social</strong>
      <ul class="list-unstyled list-inline">
        <li><span class="glyphicon glyphicon-facetime-video"></span></li>
        <li><span class="glyphicon glyphicon-facetime-video"></span></li>
        <li><span class="glyphicon glyphicon-facetime-video"></span></li>
        <li><span class="glyphicon glyphicon-facetime-video"></span></li>
      </ul>
    </div>
  </section>
</section>
