<footer class="container footerBlock">
  <div class="row">
    <div class="col-sm-3">
      <strong>About</strong>
      <ul class="list-unstyled">
        <li>Contact</li>
        <li>About Us</li>
        <li>Who are we?</li>
      </ul>
    </div>
    <div class="col-sm-3">
      <strong>About</strong>
      <ul class="list-unstyled">
        <li>Contact</li>
        <li>About Us</li>
        <li>Who are we?</li>
      </ul>
    </div>
    <div class="col-sm-3">
      <strong>About</strong>
      <ul class="list-unstyled">
        <li>Contact</li>
        <li>About Us</li>
        <li>Who are we?</li>
      </ul>
    </div>
    <div class="col-sm-3">
      <strong>About</strong>
      <ul class="list-unstyled">
        <li>Contact</li>
        <li>About Us</li>
        <li>Who are we?</li>
      </ul>
    </div>
  </div>
</footer>
