<section class="container-fluid">
  <header class="text-center">
    <h1>Our Team</h1>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          A consectetur, consequuntur dolorum enim, error id iusto minima
          obcaecati perspiciatis possimus provident, qui quidem quisquam sequi
          vitae. Adipisci dignissimos dolor non!
        </p>
      </div>
    </div>
  </header>
  <section class="row">
    <div class="container">
      <div class="col-sm-3">
        <div class="imageBlock">
          <img class="img-responsive img-circle" src="/images/riffraff.jpg" alt="riffraff">
        </div>
        <div class="description">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          Ad aliquam, autem dicta doloremque ea eos explicabo id
          impedit iusto omnis quis repudiandae suscipit, tempore totam velit?
          Doloribus facilis iste tempora!
        </div>
      </div>
      <div class="col-sm-3">
        <div class="imageBlock">
          <img class="img-responsive img-circle" src="/images/2chainz.jpeg" alt="2chainz">
        </div>
        <div class="description">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          Ad aliquam, autem dicta doloremque ea eos explicabo id
          impedit iusto omnis quis repudiandae suscipit, tempore totam velit?
          Doloribus facilis iste tempora!
        </div>
      </div>
      <div class="col-sm-3">
        <div class="imageBlock">
          <img class="img-responsive img-circle" src="/images/nene.jpeg" alt="nene">
        </div>
        <div class="description">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          Ad aliquam, autem dicta doloremque ea eos explicabo id
          impedit iusto omnis quis repudiandae suscipit, tempore totam velit?
          Doloribus facilis iste tempora!
        </div>
      </div>
      <div class="col-sm-3">
        <div class="imageBlock">
          <img class="img-responsive img-circle" src="/images/miley.jpg" alt="miley">
        </div>
        <div class="description">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          Ad aliquam, autem dicta doloremque ea eos explicabo id
          impedit iusto omnis quis repudiandae suscipit, tempore totam velit?
          Doloribus facilis iste tempora!
        </div>
      </div>
    </div>
  </section>
  <div class="row partnerBlock">
    <div class="container text-center">

    </div>
  </div>
</section>