<section class="container-fluid servicesBlock">
  <header class="text-center servicesBlock__titleBlock">
    <h1>Services</h1>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          Alias consectetur delectus dolor laboriosam omnis!
          Animi in obcaecati optio. Animi consequuntur dolorum modi!
          Aspernatur consectetur dolore eos officia sint ut veritatis?
        </p>
      </div>
    </div>
  </header>
  <article class="servicesBlock__iconsBlock">
    <section class="row text-center">
      <div class="col-sm-4">
        <i class="icon-brand fa fa-2x fa-lightbulb-o" aria-hidden="true"></i>
        <h4 class="serviceTitle">Unique Layouts</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      </div>
      <div class="col-sm-4">
        <i class="icon-brand fa fa-2x fa-mobile" aria-hidden="true"></i>
        <h4 class="serviceTitle">Responsive</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      </div>
      <div class="col-sm-4">
        <i class="icon-brand fa fa-2x fa-spinner" aria-hidden="true"></i>
        <h4 class="serviceTitle">Ajax Transitions</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      </div>
    </section>
    <section class="row text-center">
      <div class="col-sm-4">
        <i class="icon-brand fa fa-2x fa-shopping-bag" aria-hidden="true"></i>
        <h4 class="serviceTitle">E-Commerce</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      </div>
      <div class="col-sm-4">
        <i class="icon-brand fa fa-2x fa-th" aria-hidden="true"></i>
        <h4 class="serviceTitle">Unlimited Portfolios</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      </div>
      <div class="col-sm-4">
        <i class="icon-brand fa fa-2x fa-mobile" aria-hidden="true"></i>
        <h4 class="serviceTitle">Powerful</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      </div>
    </section>
  </article>
</section>
