<section class="container-fluid servicesBlock">
  <header class="text-center">
    <h1>Services</h1>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          Alias consectetur delectus dolor laboriosam omnis!
          Animi in obcaecati optio. Animi consequuntur dolorum modi!
          Aspernatur consectetur dolore eos officia sint ut veritatis?
        </p>
      </div>
    </div>
  </header>
  <section class="row text-center">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-off logo-small"></span>
      <h4>POWER</h4>
      <p>Lorem ipsum dolor sit amet..</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-heart logo-small"></span>
      <h4>LOVE</h4>
      <p>Lorem ipsum dolor sit amet..</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-lock logo-small"></span>
      <h4>JOB DONE</h4>
      <p>Lorem ipsum dolor sit amet..</p>
    </div>
  </section>
  <section class="row text-center">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-leaf logo-small"></span>
      <h4>GREEN</h4>
      <p>Lorem ipsum dolor sit amet..</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-certificate logo-small"></span>
      <h4>CERTIFIED</h4>
      <p>Lorem ipsum dolor sit amet..</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-wrench logo-small"></span>
      <h4 style="color:#303030;">HARD WORK</h4>
      <p>Lorem ipsum dolor sit amet..</p>
    </div>
  </section>
</section>
